<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
        <link rel="stylesheet" href="/stylesheets/albumdetails.css">
    </head>
    <body>

        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>

        <!-- START PAGE CONTENT -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="albumdetails_details">
                        <h1 class="albumdetails_artist"></h1> 
                        <span class="albumdetails_album"></span>
                        <img class="img-fluid albumdetails_cover" src="" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="card details_card" style="width: 18rem;">
                            <h6 class="card-header">Details</h6>
                            <div class="card-body">
                                <p class="card-text"><strong>Record Label: </strong><span class="albumdetails_label"></span></p>
                                <p class="card-text"><strong>Released: </strong><span class="albumdetails_release"></span></p>
                                <!-- there is intentionally no href here, it is set in albumdetails.js -->
                                <a href="" target="_blank" class="btn btn-sm btn-outline-primary applemusicurl">Listen on Apple Music</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card tags_card" style="width: 18rem;">
                            <h6 class="card-header">Tags</h6>
                            <div id="tag_pile" class="card-body">
                                <div class="tag_results"><small>There are currently no tags for this album!</small></div>
                                <span class="tag_search_button"></span>
                            </div>
                        </div>
                        <span class="warning_label text-danger"></span>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <br />
                    <button class="btn btn-sm btn-secondary" onclick="window.history.back()">Go Back</button>
                </div>
            </div>

        </div>
        <!-- END PAGE CONTENT -->    

        <!-- Messy way to pull album ID so I can get it in my javascript -->
        <p class="heres_the_album_id" style="display:none;"> <%= albumId %> </p>   

        <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
        <% include partials/templates/footer.ejs %>

        <script src="/javascripts/albumdetails_script.js"></script>
    </body>
</html>