extends layout

block content
  nav.navbar.navbar-inverse.bg-inverse
    h1.text-white= title
    p.text-muted What is Josh listening to this week?

  .card-deck
    #card1.card
      img.card-img-top(src="" alt="")
      .card-block
        h4.card-title Card title 
        p.card-text 
          span.album
          br
          br
          small.label
          small.release
      .card-footer
        small.text-muted Last updated 03/05/2018
    #card2.card
      img.card-img-top(src="" alt="")
      .card-block
        h4.card-title Card title 
        p.card-text 
          span.album
          br
          br
          small.label
          small.release
      .card-footer
        small.text-muted Last updated 03/05/2018
    #card3.card
      img.card-img-top(src="" alt="")
      .card-block
        h4.card-title Card title 
        p.card-text 
          span.album
          br
          br
          small.label
          small.release
      .card-footer
        small.text-muted Last updated 03/05/2018
    #card4.card
      img.card-img-top(src="" alt="")
      .card-block
        h4.card-title Card title 
        p.card-text 
          span.album
          br
          br
          small.label
          small.release
      .card-footer
        small.text-muted Last updated 03/05/2018
    #card5.card
      img.card-img-top(src="" alt="")
      .card-block
        h4.card-title Card title 
        p.card-text 
          span.album
          br
          br
          small.label
          small.release
      .card-footer
        small.text-muted Last updated 03/05/2018

  hr
  ul.nav.justify-content-end.my_footer
    li.nav-item
      a.nav-link.active(href="mailto:joshua@hunschejones.com?subject=This Week App") 
        small Questions & Support