<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
        <link rel="stylesheet" href="/stylesheets/cards.css">
        <style>
            .please_log_in {
            margin: 40px 0px 60px 0px;
            text-align: center;
            }
            
            #loader {
            position: block;
            margin: 20px auto 20px auto;
            z-index: 1;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            }

            /* Safari */
            @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }
        </style>
    </head>
    <body>

        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>

        <!-- BEGIN ALBUM CARDS -->
        <div id="all_cards" class="row container-fluid">
            <div id="loader"></div>
        </div>
        
        <span id="log_in_message"></span>

        <div class="container-fluid album_list_instruction">
            <!-- <span class="text-secondary">Click an Album for More Details</span> -->
            <ul class="album_list" style="list-style-type: none;">

            </ul>
        </div>
        <!-- END ALBUM CARDS -->       

        <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
        <% include partials/templates/footer.ejs %>
        <script src="/javascripts/myfavorites.script.js"></script>
    </body>
</html>