<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
        <link rel="stylesheet" href="/stylesheets/search.css">
    </head>
    <body>

        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>

        <div class="container-fluid">
            <h1>Search Page</h1> 
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2 artist_search">
                    <!-- for continuous search, add oninput="populateSearchResults()" to input field -->
                    <input type="text" class="form-control" id="search_box" placeholder="Try a Search!">
                </div>
                <button onclick="populateSearchResults()" class="btn btn-primary mb-2">Search</button>
            </form>
            <span class="warning_label"></span>
            <br />
            <h4>Artists:</h4>
            <span class="artist_results"></span>
            <br />
            <h4>Albums:</h4>
            <span class="album_results"></span>
        </div>           

        <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
        <% include partials/templates/footer.ejs %>

        <script src="/javascripts/search.js"></script>
    </body>
</html>