<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
    </head>
    <body>

        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>

        <!-- BEGIN ALBUM CARDS -->
        <div class="card-deck">
            <div id="card1" class="card">
                <% include partials/content/card_content.ejs %>
            </div>
            <div id="card2" class="card">
                <% include partials/content/card_content.ejs %>
            </div>
            <div id="card3" class="card">
                <% include partials/content/card_content.ejs %>
            </div>
            <div id="card4" class="card">
                <% include partials/content/card_content.ejs %>
            </div>
            <div id="card5" class="card">
                <% include partials/content/card_content.ejs %>
            </div>
        </div>
        <!-- END ALBUM CARDS -->       

        <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
        <% include partials/templates/footer.ejs %>
        <script src="/javascripts/thisweek.script.js"></script>
    </body>
</html>