.albumdetails_artist {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.albumdetails_cover {
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
}

.details_card {
    margin-top: 15px !important;
    margin-left: 16px !important;
}

.tags_card {
    margin-left: 16px !important;
}

.tag_search_button {
    margin-top: 15px;
}

.add_tag {
    margin-left: 0px !important;
}

.add_tag_form {
    margin-bottom: 10px;
}