.albumdetails_artist {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

#add_to_favorites {
    padding: 0px 8px 5px 8px;
    margin: 0px 0px 0px 5px;
    fill: grey;
}

#remove_from_favorites {
    padding: 0px 8px 5px 8px;
    margin: 0px 0px 0px 5px;
}

.albumdetails_cover {
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    margin-bottom: 10px;
}

.details_body {
    padding: 0px;
    margin: 0px 0px 5px 0px;
}

.song_names {
    margin: 0px;
}

.tags_card, .connections_card {
    margin: 5px;
}

#tag_card_header, #connections_card_header {
    padding: 7px 0px 7px 15px;
}

.tags_body {
    padding: 10px;
}

.connections_body {
    padding: 10px 10px 0px 10px;
    max-height: 240px;
    overflow: auto;
}

.tag_search_button {
    margin-top: 15px;
}

.small_cover {
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    margin-right: 8px;
    margin-bottom: 10px;
}

#update_button_container a {
    margin-top: 16px;
}

.warning_label {
    margin: 5px 0px 0px 0px;
}

.applemusicurl {
    margin-left: 7px;
}

.albumdetails_album a, 
.albumdetails_album a:hover {
    text-decoration: none;
    color: #212529;
    cursor: default;
}