/* ====== custom styling for cards ======= */
#all_cards {
  margin: 0px 8px 0px 8px;
  padding: 0px;
}

#all_cards .card {
  width: 16rem;
}

.album_list {
  display: none;
  padding-left: 0px;
}

.album_list_instruction {
  display: none;
}

@media screen and (max-width: 800px) {
  #all_cards .card {
    width: 10.8rem;
    /* display: none; */
  }
  /* .album_list {
    display: block;
  }
  .album_list_instruction {
    display: block;
  } */
}
  
.card {
  margin: 5px !important;
}

.card img {
  width: 100%;
  height: auto;
}

.card-title {
  margin-bottom: 0px;
}

.card-body {
  padding: 10px;
}

.album {
  font-style: italic;
}

.release_and_label {
  line-height: normal;
  color: gray;
}

/* .card-footer {
  padding: 5px;
  text-align: center;
  font-size: 0.7em;
} */

/* .card-footer small {
  color: #d3d3d3 !important;
} */