/* ====== custom styling for cards ======= */
#all_cards {
  margin: 0px 8px 0px 8px;
  padding: 0px;
}

#all_cards .card {
  width: 16rem;
}

.album_list {
  display: none;
  padding-left: 0px;
}

.album_list_instruction {
  display: none;
}

@media screen and (max-width: 800px) {
  #all_cards .card {
    width: 10.8rem;
  }
}
  
.card {
  margin: 5px !important;
}

.card img {
  width: 100%;
  height: auto;
}

.card-title {
  margin-bottom: 0px;
}

.card-body {
  padding: 10px;
}

.album {
  font-style: italic;
}

.release_and_label {
  line-height: normal;
  color: gray;
}

.please_log_in {
  margin: 40px 0px 60px 0px;
  text-align: center;
}