.jumbotron {
    margin-bottom: 0px;
}

.dropdown {
    margin: 2px 0px 0px 0px;
}

.year_to_filter_by {
    margin: 0px 2px 0px 2px;
    padding: 3px 5px 3px 5px !important;
}

#year_filter_menu {
    padding: 1px 0px 4px 4px;
}

.badge {
    font-size: .8em;
    padding: 5px;
}

#clear_filters_button {
    margin: 2px 0px 0px 3px;
}
