/* ======== styling for navbar ========= */
.jumbotron {
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  padding-left: 17px !important;
  text-align: left !important;
  margin-bottom: 15px;
}

.jumbotron h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.jumbotron p {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.my_dropdown {
  padding-top: 0px;
  padding-bottom: 12px;
  padding-left: 0px;
}

.dropdown-menu a {
  padding-right: 0px;
}

#login_container {
  display: none;
}

/* ======= styling for warnings ========= */
.warning_label {
  margin-left: 16px;
  margin-right: 16px;
  font-size: .8em !important;
}


/* ====== styling for the footer ======== */
hr {
  margin-bottom: 0px;
}
.my_footer .nav-item {
  margin-bottom: 0px;
}

.my_footer small {
  color: lightgray !important;
  margin-top: 0px;
}


/* ======= styling for home page ======= */
#accordion button {
  text-decoration: none;
  padding: 0px;
}

iframe {
  max-width: 100%;
  height: auto;
}
