<!-- Required meta tags -->
<meta http-equiv="X-UA-Compatible" content="IE=10">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/style.css">

<!-- attempt 1 at polyfill -->
<script src="https://cdn.polyfill.io/v2/polyfill.js?features=es6"></script>

<title>Music This Week</title>