<!-- BEGIN NAVBAR -->
<div class="jumbotron jumbotron-fluid bg-dark ">
    <h1 class="display-5 text-light">Music This Week</h1>
    

    <ul class="nav">
    <p class="lead text-muted"><%= subTitle %> &nbsp; // &nbsp;
        <li class="nav-item dropdown">
            <a class="my_dropdown lead text-secondary nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Site Navigation</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/thisweek">This Week</a>
                <a class="dropdown-item" href="/search/">Search</a>
                <a class="dropdown-item" href="/alltags">All Tags</a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="mailto:joshua@hunschejones.com?subject=This Week App">Contact</a>
            </div>
        </li>
    </ul>
    </p>
</div>
<!-- END NAVBAR -->