<!-- BEGIN NAVBAR -->
<div class="jumbotron jumbotron-fluid bg-dark ">
    <h1 class="display-5 text-light">Music This Week</h1>
    <p class="lead text-muted"><%= subTitle %></p>
</div>
<!-- END HEADER -->