<!-- BEGIN NAVBAR -->
<div class="jumbotron jumbotron-fluid bg-dark ">
    <a id="brand_home" href="/"><h1 class="display-5 text-light">Album Tags</h1></a>
    
    

    <ul class="nav">
        <!--<p class="lead text-muted"><%= subTitle %> &nbsp; // &nbsp; -->
            <li class="nav-item dropdown">
                <a class="my_dropdown lead text-secondary nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img id="menu_hamburger" style="height:23px" src="/images/menu.png"></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item hide_when_logged_in" id="login_button" style="cursor:pointer;">Log In</a>
                    <a class="dropdown-item hide_when_logged_out" id="logout_button" style="cursor:pointer;">Log Out</a>
                    <div class="dropdown-divider" id="login_divider"></div>
                    <a class="dropdown-item" href="/">Home</a>
                    <a class="dropdown-item" href="/myfavorites">My Favorites</a>
                    <a class="dropdown-item" href="/search">Search</a>
                    <a class="dropdown-item" href="/alltags">All Tags</a>
                    
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/favorites">Our Favorites</a>
                    <a class="dropdown-item" href="mailto:joshua@hunschejones.com?subject=This Week App">Contact</a>
                </div>
            </li>
            <p class="lead text-muted"><%= subTitle %>
        </p>
    </ul> 
</div>
