<button id="clear_filters_button" class="btn btn-sm btn-light sticky-top float-right" onclick="clearFilters()">
Clear Filters
</button>

<div class="dropdown sticky-top float-right">
    <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="filter_by_year_dropdown_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="buildYearFilters()">
    Filter by Year
    </button>
    <div id="year_filter_menu" class="dropdown-menu" aria-labelledby="filter_by_year_dropdown_button">
        <!-- javascript puts filter years here -->
    </div>
</div>